.form {
  background-color: var(--color-three);
  padding: 2rem;
  margin-bottom: 2rem;
}

.form-group {
  font-size: 2rem;
  margin-right: 3.2rem;
}

.form-group label {
  margin-right: 1rem;
}

.num-items {
  color: var(--color-two);
}
